<nav class="navbar bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand text-white font-weight-bold">チーム分けアプリ</a>
  </div>
</nav>
<div class="container">
  <div class="text-center">
    <div class="card mt-3">
    <%= link_to "バスケ", bsk_members_path, class: "btn btn-success btn-lg" %>
    </div>
    <div class="card mt-3">
    <%= link_to "バドミントン", members_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>


